@font-face {
    font-family: robo;
    src: url(/Nikon/css/assests/font/roboto-v29-latin-ext_latin-regular.woff2) format(woff);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: robo;
}

.global {
    position: absolute;
    right: 30px;
    top: 30px;
    margin-right: 20px;
    color: white;
}

.logo {
    position: absolute;
    left: 6%;
    top: 16%;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: start;
}

.logo img {
    width: 100%;
    height: 100%;
}

nav {
    position: relative;
    z-index: 2;
}

nav ul {
    width: 100%;
    height: 110px;
    align-items: end;
    background-color: rgba(0, 0, 0, 0.703);
    color: white;
    display: flex;
    justify-content: end;
}

nav li {
    margin-right: 20px;
    font-size: 15px;
    padding: 18px;
}

nav li:hover {
    cursor: pointer;
    border-bottom: 0.5px solid white;
}


/* banner */

#imgs-box {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
}

#imgs-box a {
    width: 33.3333333%;
    height: 580px;
    transition: all 0.6s ease;
    font-size: x-small;
    text-shadow: 0px 8px 20px black;
}

.banners,
.banners img {
    width: 100%;
    height: 100%;
}

.banners {
    position: relative;
    transition: all 0.6s ease;
}

.banners #company2 {
    display: none;
}

.text-box-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 55%;
}

.text-box-banner span {
    font-size: 3.5em;
    color: white;
}

.btn-ps {
    font-size: 1.4em !important;
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 10px 15px;
}

#imgs-box:hover a div.banners {
    filter: grayscale(0.6);
}

#imgs-box a:hover div.banners {
    transform: scale(1.1);
    width: 102%;
    filter: grayscale(0);
    z-index: 1000;
}

#imgs-box a:hover div div span.btn-ps {
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0.5);
}