:root {
    --paddind-el: 5px 8%;
}@font-face {
    font-family: robo;
    src: url(/Nikon/css/assests/font/roboto-v29-latin-ext_latin-regular.woff2) format(woff);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
   height: 1000px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: rgb(243, 243, 243)
}

header {
    position: relative;
}

/*---start nav---*/
#menu {
    color: white;
    font-size: 1.5em;
    padding: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
    margin-right: 0;
}

#net2 {
    color: white;
    font-size: 1.5em;
    padding: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
}

#search2 {
    color: white;
    font-size: 1.5em;
    padding: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
}

header>nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    z-index: 10000;
}

nav #ul-box #menu {
    display: none;
    width: 80px;
    height: 80px;
    color: white;
    font-size: 1.5em;

}

#logo,
#logo>img {
    width: 68px;
    height: 68px;
}

#link-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: auto;
    height: 68px;
    font-size: medium;
    font-weight: 500;
}

#link-box a,
#link-box span {
    color: white;
    font-size: 1em;
    line-height: 40px;
}

#global {
    text-align: end;
}

#ul-box {
    display: flex;
    gap: 30px;
    justify-content: end;
    font-size: medium;
}

#ul-box>li:hover {
    border-bottom: 1px solid white;
}

/*---end nav--*/
/*---start banner---*/
#imgs-box {
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
}

#imgs-box a {
    width: 33.3333333%;
    height: 580px;
    transition: all 0.6s ease;
    font-size: x-small;
    text-shadow: 0px 8px 20px black;

}


.banners,
.banners img {
    width: 100%;
    height: 100%;
}

.banners {
    position: relative;
    transition: all 0.6s ease;
}
.text-box-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 55%;
}

.text-box-banner span {
    font-size: 3.5em;
    color: white;
}

.btn-ps {
    font-size: 1.4em !important;
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 10px 15px;

}

#imgs-box:hover a div.banners {
    filter: grayscale(0.5);
}

#imgs-box a:hover div.banners {
    transform: scale(1.09);
    filter: grayscale(0);
    z-index: 1000;
}
.banners img:hover{
    width: 102%;
    transition: all 0.5s;
}
#imgs-box a:hover div div span.btn-ps {
    border: solid 2px white;
    background-color: rgba(0, 0, 0, 0.5);
}

/* end banner */
/* start main */
#text{
   font-size: 24px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
#text p{
    font-weight: 550;
}
.text2{
    font-size: medium;
    font-weight: lighter;
    font-family: robo;
}
/* end main */
/* start cards */
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    gap: 20px;

}

#cards>.card1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    min-height: 700px;
    position: relative;
    background-color: white;
}

.card1>a>img {
    width: 100%;
    position: absolute;
}

.card1>a>img:hover {
    border: 1px solid;
    opacity: 0.8;
    transition: all 0.2s;
}

.card1>h3 {
    position: absolute;
    display: flex;
    top: 45%;
    padding: 6%;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card1>p {
    position: absolute;
    top: 65%;
    padding: 6%;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.web-btn {
    position: absolute;
    background-color: black;
    width: 250px;
    height: 40px;
    color: white;
    padding: 2%;
    text-align: center;
    margin-left: 30px;
    transition: all 0.4s;
    top: 90%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.web-btn>a:visited {
    color: white;

}

.web-btn:hover {
    opacity: 0.6;

}

#cards>.card2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 700px;
    position: relative;
    background-color: white;
}

.card2>a>img {
    width: 100%;
    position: absolute;
}

.card2>a>img:hover {
    border: 1px solid;
    opacity: 0.8;
    transition: all 0.2s;
}

.card2>h3 {
    position: absolute;
    display: flex;
    top: 45%;
    padding: 6%;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card2>p {
    position: absolute;
    top: 55%;
    padding: 6%;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card2>.movie-btn {
    position: absolute;
    background-color: black;
    width: 200px;
    height: 45px;
    color: white;
    padding: 2%;
    text-align: center;
    margin-left: 30px;
    top: 90%;
    font-size: large;
    transition: all 0.4s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card2>.movie-btn:hover {
    opacity: 0.6;
}

.card2>.movie-btn>a:visited {
    color: white;
}

#cards>.card3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 700px;
    position: relative;
    background-color: white;
}

.card3>a>img {
    width: 100%;
    position: absolute;
}

.card3>a>img:hover {
    border: 1px solid;
    opacity: 0.8;
    transition: all 0.2s;
}

.card3>h3 {
    position: absolute;
    display: flex;
    top: 45%;
    padding: 6%;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card3>p {
    position: absolute;
    top: 52%;
    padding: 6%;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sus-btn {
    position: absolute;
    background-color: black;
    width: 200px;
    height: 45px;
    color: white;
    padding: 2%;
    text-align: center;
    margin-left: 30px;
    top: 90%;
    transition: all 0.4s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sus-btn>a:visited {
    color: white;
}

.sus-btn:hover {
    opacity: 0.6;
}

#cards>.card4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 700px;
    position: relative;
    background-color: white;
}

.card4>a>img {
    width: 100%;
    position: absolute;
}

.card4>a>img:hover {
    border: 1px solid;
    opacity: 0.8;
    transition: all 0.2s;
}

.card4>h3 {
    position: absolute;
    display: flex;
    top: 45%;
    padding: 6%;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card4>p {
    position: absolute;
    top: 53%;
    padding: 6%;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card4>.check-btn {
    position: absolute;
    background-color: black;
    width: 200px;
    height: 80px;
    color: white;
    padding: 2%;
    text-align: center;
    margin-left: 30px;
    top: 95%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card4>.movie-btn {
    position: absolute;
    background-color: black;
    width: 180px;
    height: 45px;
    color: white;
    padding: 2%;
    text-align: center;
    margin-left: 30px;
    top: 82%;
    transition: all 0.4s;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card4>.movie-btn:hover {
    opacity: 0.6;
}

.card4>.movie-btn>a:visited {
  color: white;
}
/* end cards */
/* start news */
/* start new news  */
#news {
    width: 100%;
    padding: 100px 120px;
    text-align: left;
    background-color: white;

}


#news_box_title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px;
    margin-bottom: 60px;
}

#news_title {
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#wifi-news-icon {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.6s ease;
}

#wifi-news-icon i {
    font-size: 2.3rem;
    color: black;
    transition: all 0.6s ease;

}

#wifi-news-icon:hover i {
    color: gray;
}

.news {
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px grey;
}

.date {
    font-size: 1.1rem;
}

.btn {
    padding: 5px 5px;
    background-color: rgb(242, 240, 240);
    margin: 15px;
}

.info-btn {
    width: 60%;
    text-align: left;
}

.info-btn i {
    /* font-size: 1.7rem; */
    margin-bottom: -16px;
}

#link-news {
    font-size: 1.1em;
    line-height: 50px;
    margin: 15px 0;
}

a:visited {
    color: black;
}

/* end new news */
/* start warning */
#war {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    position: relative;
}
#war>.text2 {
    position: absolute;
    top: 51%;
    left: 13%;
    font-size: 1.1em;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text2>a:visited {
    color: black;
}

.text2>a:hover {
    border-bottom: 1.5px solid;
}

/* end warning */
/* start footer */
.footer1 {
    background-color: black;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    gap: 30px;
}

#cor {
    color: white;
    display: inline-block;
    font-size: small;
    position: absolute;
    right: 2%;
    top: 38%;
}

.global2 {
    display: none;
    color: white;

}

.footer1>a {
    color: white;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer1>a:visited {
    color: white;
}

.footer1>a:hover {
    border-bottom: 1px solid;
}

.footer2 {
    position: relative;
    width: 100%;
    background-color: black;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding: 4%;
    gap: 30px;
    border-top: solid 1px #6e6e6e;

}

.footer2>a {
    color: white;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer2>a:visited {
    color: white;
}

.footer2>a:hover {
    border-bottom: 1px solid;
}

/* end footer */

/* end news */
